
<div class="container card shadow d-flex justify-content-center mt-5" >
    <!-- nav options -->
    <ul 
    class="nav nav-pills mb-3 shadow-sm" 
    id="pills-tab" 
    role="tablist"  
    style="overflow:auto; height:110px; width: auto;"
    >
      <li class="nav-item">
        <a class="nav-link" 
        id="pills-home-tab" 
        data-toggle="pill"
         href="#pills-home"
          role="tab" 
          aria-controls="pills-home"
           aria-selected="true"
            *ngFor = "let i of items"
            (click)="onMenuActive($event,i,this)">{{i.label}}</a>
      </li>
    </ul>

    <!-- content -->
   <div class="tab-content" id="pills-tabContent p-3">
    
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <p-listbox (onChange) = 'onMenuSelect(this, $event)' [options]="menuArray" [(ngModel)] = "selectedData" [metaKeySelection]="false" [checkbox]="true"  [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
          <ng-template let-country pTemplate="item">
              <div class="country-item">
                  <div>{{country.name}}</div>
              </div>
          </ng-template>
      </p-listbox>


  
      <!-- <p-listbox  (onChange) = 'onMenuSelect(this)' [options]="menuArray" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
    </p-listbox> -->
      </div> 
      <!-- 2nd card -->
 

    <!-- </div> -->
  </div>


<!-- <p-listbox [options]="menuArray" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-listbox>
</div> -->
 <!-- <h5>Advanced with Group, Filtering and Multiple Selection</h5>
<p-listbox (onChange) = 'onMenuSelect(this)' [options]="groupedCities" [group]="true" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
    <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/>
            <span>{{group.label}}</span>
        </div>
    </ng-template>
</p-listbox> -->
