<!-- <div class="card">

    <h5>Checkbox</h5>
    <p-treeSelect [(ngModel)]="selectedNodes2" [options]="nodes3" display="chip" [metaKeySelection]="false"
        selectionMode="checkbox" placeholder="Select Item"></p-treeSelect>
</div> -->


<nz-tree-select
style="width: 250px"
[(ngModel)]="value"
[nzNodes]="nodes"
(ngModelChange)="onChange($event)"
nzShowSearch
nzCheckable
nzPlaceHolder="Please select"

></nz-tree-select>



<a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    Click me
    <span nz-icon nzType="down"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu"  >
    <ul nz-menu *ngFor="let item of filterDetails;let i = index">
    <li  nz-submenu [nzTitle] ="filterDetails[i]" (click)="onMenu($event)" >
            <ul>
                <li nz-menu-item *ngFor = "let i of selectedData">
                    <input type="checkbox" [checked]="i.check" (change)= "onItemCheckBox($event)" [value]="i.label"> {{i.label}}</li>     
            </ul>
        </li>
    </ul>
  </nz-dropdown-menu>