<div>
  <h1 style="display: inline;">Projects </h1><span class="fnumbers">&nbsp;{{projects.length}}&nbsp;</span>
</div>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button id="btn1" style="margin-right: 20px;" pButton type="button" (click)="op.toggle($event)"
        icon="pi pi-table"></button>
      <button id="btn1" pButton type="button" (click)="mf.toggle($event)" icon="pi pi-filter"></button>
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search" />
      </span>
    </ng-template>

    <ng-template pTemplate="right">
      <button style="margin-right: 20px;" class="btn btn-success">Save</button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedProjects()" [disabled]="!selectedProjects || !selectedProjects.length"></button>
    </ng-template>
  </p-toolbar>
</div>
  <!-- <button pButton type="button">New Project</button> -->
  <div class="ui-g ui-fluid">

    <!-- Overlayy Panel  -->
    <p-overlayPanel #op [style]="{width: 'auto', height: 'auto'}">

      <h6>Table Column</h6>
      <div class="btn-group" *ngFor="let i of columnSettings; let n = index">
        <button class="mr-2 btn" [ngClass]="{
              'btn-primary': i.isVisible,
              'btn-secondary': !i.isVisible
            }" (click)="onColumnOrder($event, i, 'cl' + n)">
          {{ i.header }}
        </button>
      </div>
      <br>


      <h6>Amount</h6>
      <div class="p-buttonset">
        <p-selectButton id="amount" [options]="account" [(ngModel)]="account_value"
          (onOptionClick)="onAmountChange($event)"></p-selectButton>
      </div>
      <br />

      <h6>Date Format</h6>
      <div class="p-buttonset">
        <p-selectButton id="date" [options]="date_format_type" [(ngModel)]="date_format_value"
          (onOptionClick)="onDateChange($event)"></p-selectButton>
      </div>
      <br>

      <div>
        <input type="checkbox"> Sticky header
      </div>
      <hr>

      <div class="flex-end">
        <button class="mr-2 btn btn-info" (click)="onSettingsReset(); op.hide()">
          Reset
        </button>
        <button class="mr-2 btn btn-success" (click)="onSettingsSave(); op.hide()">
          Save
        </button>
      </div>

    </p-overlayPanel>
    <!-- Overlayy Panel End -->
    <p-overlayPanel #mf>
      <p-listbox [options]="groupedFilterData" (onChange)="onFilter()" optionLabel="label" optionValue="value"
        [group]="true" [(ngModel)]="selectedFilterData" [metaKeySelection]="false" [checkbox]="true" [filter]="true"
        [multiple]="true" [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }">
        <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-listbox>
    </p-overlayPanel>
 
    <p-overlayPanel #status  [appendTo]="body">
      <ng-template pTemplate>
        <p-listbox #list [options]="listStatus" optionLabel="label" (click)="onListStatus($event.target.innerText)">
        </p-listbox>
        <h6>Notes</h6>
        <textarea #statusNotes rows="5" cols="30" pInputTextarea></textarea>
        <hr>
        <button class="btn btn-success" (click)="notesUpdate(statusNotes.value);status.hide()">Apply</button>

      </ng-template>
    </p-overlayPanel>
    <p-overlayPanel #sideMenu>
      <p-listbox #side [options]="sideOption" optionLabel="label" (click)="onSideMenu($event.target.innerText)">
      </p-listbox>
    </p-overlayPanel>


    <p-overlayPanel #resources [showCloseIcon]="true">
      <div style="height: auto; width: 350px;">
        <div class="box" style="width: fit-content;">
          <button [ngClass]="i.isActive ? 'btn btn-info' : 'btn btn-secondary'" style="margin: 2px; border-radius: 8px;"
            (click)="onResourceSelect($event, i)" *ngFor="let i of resourcesList">
            {{ i.label }}
          </button>
        </div>
        <div></div>
        <hr />
      </div>
      <div>
        <button class="btn btn-primary" (click)="onResourceApply(this)">
          Apply
        </button>
      </div>
    </p-overlayPanel>

  </div>
  <div style="margin-bottom: 10px; margin-top: 20px; margin-right: 10px;">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button (click)="onStatusFilter($event, i)" [ngClass]="isActive && 'active'" class="nav-link" id="nav-home-tab"
          data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
          aria-selected="true" *ngFor="let i of menus">
          {{ i.label }}
          <span class="fnumbers">&nbsp;{{ i.length }}&nbsp;</span>
        </button>
      </div>
    </nav>
  </div>

  <div class="card">
    <p-table
    [responsive]="true"
    
      [columns]="columnSettings"
      [(selection)]="selectedProjects"
      editMode="row"
      #dt
      [value]="menu ? projects : menu_filter_array"
      dataKey="id"
      responsiveLayout="scroll"
      [reorderableColumns]="true"
      [filterDelay]="0"
      [paginator]="true"
      [rows]="projects.length"
      [rowsPerPageOptions]="[2, 3, 6]"
      totalRecords="6"
      pageLinks="3"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header" let-columns>
        <tr style="width: 100%;">
          <th pResizableColumn style="width: 3rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn style="width: 3rem;"></th>
    
          <ng-container *ngFor="let col of columns; let i = index">
            <th pResizableColumn
              [pSortableColumn]="col.field"
              [ngClass]="{ hide: !col.isVisible, 
                timeLineTh : col.type === 'timeline',
                estimationStyle : col.type === 'estimation'} "
               >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
    
          <th style="width: 4rem;">Action</th>
          <th style="width: 3rem;"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-editing="editing"
        let-rowData
        let-columns="columns"
       
      >
        <tr style="width: 100%;" [pEditableRow]="rowData">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="rowData"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="
                expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-circle-right'
              "
            ></button>
          </td>
    
          <ng-container *ngFor="let col of columns; let i = index">
            <td pEditableColumn *ngIf="col.type === 'number' && col.isVisible" class="custom-cell">
              <p-cellEditor style="width: 2rem;">
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    (onChange) = "change(rowData[col.field])"
                    (keyup.enter)="onRowInlineEdit(rowData[col.field])"
                    required
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[col.field] }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td
              pEditableColumn
              class="custom-cell"
              *ngIf="col.type === 'string' && col.isVisible"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                  pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    (focus) = "this.oldValue = this.rowData[col.field]"
                    (keydown.enter)="onRowInlineEdit(col.field, rowData)"
                    required
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[col.field] }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td  class="custom-cell" *ngIf="col.type === 'managerDetails' && col.isVisible">
              <p-avatar
                image="{{ rowData.ImageUrl }}"
                shape="circle"
                pTooltip="{{ rowData[col.field] }}"
                tooltipPosition="bottom"
              ></p-avatar>
            </td>
    
            <td  class="custom-cell"
             style="cursor: pointer;"
              *ngIf="col.type === 'status' && col.isVisible"
              [ngClass]="col.type"
              title="{{ rowData[col.field] }}"
              (click)="status.toggle($event); onStatus(rowData)"
            >
              <span>• {{ rowData[col.field] }}</span>
            </td>
    
            <td  class="custom-cell" *ngIf="col.type === 'date' && col.isVisible">
              <i  pTooltip="{{ rowData.notes }}" class="pi pi-file" style="font-size: 1rem;background-color: lightsalmon; color:black"></i>
              {{ rowData[col.field] | date: [date_format_value] }}
            </td>
    
            <td  class="custom-cell" *ngIf="col.type === 'array' && col.isVisible">
              <div
                *ngIf="rowData[col.field].length > 0; else applyResources"
                (click)="
                  resources.toggle($event);
                  onStatus(rowData);
                  onResourceClick(rowData)
                "
              >
                <span  pTooltip='{{rowData[col.field]}}'> 
                  {{ rowData[col.field].length }}
                </span>
              </div>
              <ng-template #applyResources style="pointer:cursor; background-color: blue;">
                <i
                  class="pi pi-plus"
                  (click)="
                    resources.toggle($event);
                    onStatus(rowData);
                    onResourceClick(rowData)
                  "
                ></i>
              </ng-template>
            </td>
                    
            <td  class="custom-cell" style="position:relative" *ngIf = "col.type === 'timeline'  && col.isVisible ">
                      
                <div class="tdinline" 
                (click)="csactive();showUndoBtn(rowData.id)">
                    {{rowData[col.field].startdate| date:[date_format_value] }}
                    <span *ngIf="rowData[col.field].startdate.length == 0">-</span>
                    <p-calendar #dateCalendar   *ngIf="showBtn===rowData.id" (onClickOutside)="close()"   [touchUI]="true" [inline]="true" (onClearClick)="csactive();csonch(rowData.id);" (onSelect)="onsch($event,rowData.id);csactive();"  [ngClass]="msstatus ? 'cstart' : 'cstart inactive'">
                      <p-footer>
                        <button pButton type="button" label="Close" (click)="close()"></button>
                        <button pButton type="button" label="Save" (click)="onSaveTimeLine(col.field,rowData,'startdate')"></button>
                      </p-footer>
                    </p-calendar>
                </div>
                  
                <div class= "tdinlinei">
                    <i class="pi pi-angle-right"></i>
                </div>
    
                <div  class="tdinline-left" (click)="ceactive();showUndoBtn(rowData.id)"  >
                    {{rowData[col.field].enddate|date:[date_format_value] }}
                    <span *ngIf="rowData[col.field].enddate.length == 0">-</span>
                    <p-calendar #endDate *ngIf="showBtn===rowData.id" (onClickOutside)="close()" (onClearClick)="ceactive();ceonch(rowData.id);" [touchUI]="true" [inline]="true" (onSelect)="onch($event,rowData.id);ceactive();" [ngClass]="mestatus ? 'cend' : 'cend inactive'">
                      <p-footer>
                        <p-footer>
                          <button pButton type="button" label="Close" (click)="close()"></button>
                          <button pButton type="button" label="Save" (click)="onSaveTimeLine(col.field,rowData,'enddate')"></button>
                        </p-footer>
                      </p-footer>
                    </p-calendar>
                </div>
               
            </td>
            <td  class="custom-cell" pEditableColumn *ngIf="col.type === 'currency' && col.isVisible">
              <span *ngIf="amount_boolean; else elseBlock">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="rowData[col.field]"
                      (keydown.enter)="onRowInlineEdit(col.field, rowData)"
                      required
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ rowData[col.field] | currency:'USD': 'symbol':'1.0-0'  }}
                  </ng-template>
                </p-cellEditor>
              </span>
              <ng-template #elseBlock>
                <p-cellEditor >
                  <ng-template pTemplate="input">
                    <input
                      pInputText
                      type="text"
                      [(ngModel)]="rowData[col.field]"
                      (keydown.enter)="onRowInlineEdit(col.field, rowData)"
                      required
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{(rowData[col.field] /1000) | currency:'USD': 'symbol':'1.0-1'}}k
                  </ng-template>
                </p-cellEditor>
              </ng-template>
            </td>
          </ng-container>
    
          <td  style="width: 4rem;">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(rowData)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(rowData)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(flight, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
          <td>
            <i
              class="pi pi-ellipsis-v"
              style="font-size: 1rem;"
              (click)="onStatus(rowData); sideMenu.toggle($event)"
            ></i>
          </td> 
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr>
          <td colspan="7">
            <div class="p-p-3" style="margin-left: 70px;">
              <p-timeline [value]="rowData.traker">
                <ng-template pTemplate="content" let-event>
                  Roya has {{ event.operation }} 
                  <span class="trackerFieldClass">
                    {{ event.field }}
                  </span> to
    
                  <span class="trackerValueClass">
                    {{ event.value }}
                  </span> @ {{ event.date }} {{ event.time }}
                </ng-template>
              </p-timeline>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>





