body {
    width: 70%;
    max-width: 960px;
    margin: 20px auto;
  }

  #btn2{
    font-size: 12px;

    line-height: 1.5;
    width: auto;
    height: auto;
    color: black;
    background: #FFFFFF;
  }

  .panel {
    /* height: 100px; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 0px;
    margin: 0 auto;
    padding: 10px 0;
    gap: 2px;

  }

  .green {
    background-color: green;
}

.red {
    background-color: red;
}

.pSelectButtonStyle {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-left: solid #cccccc .07em;
    border-right: solid #cccccc .07em;
}

.flex-end {

  display: flex;
  justify-content: flex-end;
}
.purple{
  background-color: purple;
}
.white{
  background-color: white;
}

.tabCol{
  display: none;
}

th {
  padding: 0.5rem 0.5rem;
  background-color: pink;
  color: #000;
  /* --bs-link-hover-color: #a52a2a; */
}