.pSelectButtonStyle {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  border-left: solid #cccccc .07em;
  border-right: solid #cccccc .07em;
}

/* mcss */

.string{
  color: blue;
}

.statusstring[title~=Risk] span{
  color: crimson;
  padding: 2px;
  background-color: lightpink;
}

/* .statusstring[title~=Ontrack]{
  color: green;
} */
.statusstring[title~=Ontrack] span{
  color: green;
  padding: 2px;
  background-color: lightgreen;
}

.statusstring[title~=OnHold] span{
  color: dodgerblue;
  padding: 2px;
  background-color: lightblue;
}
.statusstring{
  padding: 10px;
}

/* .statusstring:before {
  content:"• ";
} */
/* .p-datepicker-inline {
  position: absolute;
}
::ng-deep .p-datepicker-touch-ui {
  left: 50%;
  min-width: 8vw;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
}
.p-datepicker-calendar{
  width: 5vh;
  max-width: 5vh;
} */
::ng-deep .p-calendar .p-datepicker-touch-ui, .p-datepicker-touch-ui {
  padding: 0.5rem;
  /* background: #000; */
  min-width: 20vw !important;
  color: #495057;
  max-width: 30vw !important;
  border: 1px solid #ced4da;
  border-radius: 3px;
  z-index: 2;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background-color: #186ba0;
  color: #ffffff;
}

.number{
  color: blue;
}
.p-datepicker-touch-ui {
  left: 50%;
  min-width: 10vw;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
}



.tdinline {
  display: inline-flex;
  align-items: center;
  align-content: center;
  background-color: aliceblue;
  color: blue;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}
.tdinlinei {
  display: inline;
  align-items: center;
  align-content: center;
  color: blue;
  text-align: center;
}
#std{
  /* text-align: center; */
  color: #000;
}
#std div:nth-child(odd){
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 43%;
}

.cend.inactive {
  display: none;
}

.cend {
  /* display: none; */
  color: coral;
}

.cstart.inactive {
  display: none;
}

.cstart {
  /* display: none; */
  color: coral;
}

.mbody{
  background: #f5f6fa;
  overflow: auto;
  text-align: center;
}

.mbody.active .mwrapper .msidebar{
  left: -225px;
}

.mbody.active .mwrapper .msection{
  margin-left: 0;
  width: 100%;
}


/* mcss */
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.purple {
  background-color: blue;
}

.white {
  background-color: grey;
}

th {
  width: "3rem"
}

.p-checkbox,
.p-checkbox-box {
  border: 2px solid #ced4da;
  background: #fff;
  width: 14px;
  height: 14px;
  color: #a3b0bd;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}


.p-timeline-event-content,
.p-timeline-event-opposite {
  /* flex: 1; */
  padding: 0 1rem;
  display: flex !important;
  flex: 0;
  position: absolute;
}

.p-timeline.p-timeline-vertical .p-timeline-event-opposite,
.p-timeline.p-timeline-vertical .p-timeline-event-content {
  padding: 0 1rem;
  flex: 0;
  position: absolute;
  display: flex ! important
}

.p-timeline-vertical .p-timeline-event-opposite,
.p-timeline.p-timeline-vertical .p-timeline-event-content {
  padding-top: 1px;
  padding-right: 1rem;
  padding-bottom: 0px;
  padding-left: 1rem;
  position: absolute;
}

.tabCol {
  display: none;
}

.p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
  padding: 0.5rem 0.5rem;
  background: #add8e6;
  color: #000;
  /* --bs-link-hover-color: #a52a2a; */
}

#resources {

  width: 381px;
  height: 170px;

  /* Gray/0 */

  background: grey;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#resourcesBtn {
  /* push button */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 8px;

  position: absolute;
  width: 71px;
  height: 22px;
  left: 127px;
  top: 44px;

  /* White */

  /* background: #FFFFFF; */
  /* sd-button/default */

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16);
  border-radius: 4px;
}

.box {
  display: flex;
  /* background-color: yellow; */
  flex-wrap: wrap;
}


.p-timeline-event-content, .p-timeline-event-opposite {

    padding: 0 1rem;
    display: flex !important;
    margin-right: 96px;
}

.string{
  color: blue;
}
.status span{
  border-radius: 5px;
}

.status[title~=Risk] span{
  color: crimson;
  padding: 2px;
  background-color: lightpink;
}

/* .statusstring[title~=Ontrack]{
  color: green;
} */
.status[title~=Ontrack] span{
  color: green;
  padding: 2px;
  background-color: lightgreen;
}
.status span{
  color: crimson;
  padding: 2px;
  background-color: lightsalmon;
}
.status[title~=OnHold] span{
  color: dodgerblue;
  padding: 2px;
  background-color: lightblue;
}
.status{
  padding: 10px;
}


.p-timeline-event-content,
.p-timeline-event-opposite {
  /* flex: 1; */
  padding: 0 1rem;
  display: flex !important;
  flex: 0;
  position: absolute;
}

.p-timeline.p-timeline-vertical .p-timeline-event-opposite,
.p-timeline.p-timeline-vertical .p-timeline-event-content {
  padding: 0 1rem;
  flex: 0;
  position: absolute;
  display: flex ! important
}

.p-timeline-vertical .p-timeline-event-opposite,
.p-timeline.p-timeline-vertical .p-timeline-event-content {
  padding-top: 1px;
  padding-right: 1rem;
  padding-bottom: 0px;
  padding-left: 1rem;
  position: absolute;
}

.fnumbers{
  color: blue;
  /* padding: 2px; */
  background-color: lightblue;
  vertical-align: top;
  border-radius: 50px;
  padding-left: 2px;
  padding-right: 2px;
}
:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      top: 0px;
  }
}
.hide{
  display: none;
}

.tracker span{
  color: crimson;
  padding: 2px;
  background-color: lightsalmon;
}