    <!-- <app-table-display></app-table-display>
     -->

    
  <!-- <app-table-row-expand></app-table-row-expand> -->
<!-- <app-table-boolean></app-table-boolean> -->

<!-- <div>
    <button pButton type="button" label="Primary" class="ui-button-raised"></button>
    <button>Laugh</button>
    <button>Wink</button>
    <button>Shrug</button>
    <button>Blush</button>
  </div> -->
  <!-- <app-table-check></app-table-check> -->
<!-- <app-filter></app-filter> -->
  <!-- <app-table-boolean></app-table-boolean> -->
<!-- <app-tab-menu></app-tab-menu> -->
<!-- <app-tree-select></app-tree-select> -->
<!-- <app-calendar></app-calendar> -->
<!-- <div>
  <h2>Hello World</h2>
</div> -->

<div style="display: flex; flex-direction: row;padding: 20px">
  <a [routerLink]="['expand']" style="padding: 10px">home</a>
  <br>
  <a [routerLink]="['table-display']" style="padding: 10px">table display</a>
  <br>
  <a [routerLink]="['table-check']" style="padding: 10px">Check</a>
</div>

<router-outlet></router-outlet>