    <app-table-display></app-table-display>
    

    
  <!-- <app-table-row-expand></app-table-row-expand> -->
<!-- <app-table-boolean></app-table-boolean> -->

<!-- <div>
    <button pButton type="button" label="Primary" class="ui-button-raised"></button>
    <button>Laugh</button>
    <button>Wink</button>
    <button>Shrug</button>
    <button>Blush</button>
  </div> -->
  <!-- <app-table-check></app-table-check> -->
<!-- <app-filter></app-filter> -->
  <!-- <app-table-boolean></app-table-boolean> -->
<!-- <app-tab-menu></app-tab-menu> -->
<!-- <app-tree-select></app-tree-select> -->
<!-- <app-calendar></app-calendar> -->
<router-outlet></router-outlet>