<div  style="display: flex;">
    <button  id="btn1" style="margin-right: 20px;" pButton type="button" (click)="op.toggle($event)" icon="pi pi-table" ></button>
    <div class="col-md-4">
        <button  id="btn1" pButton type="button" (click)="mf.toggle($event)" icon="pi pi-filter" ></button>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
        </span>
    </div>
    <!-- <button pButton type="button">New Project</button> -->

</div>

<div class="ui-g ui-fluid">

    <!-- Overlayy Panel  -->
        <p-overlayPanel #op [style]="{width: 'auto', height: 'auto'}" >
            
            <h6>Table Column</h6> 
            <div class="btn-group" *ngFor = "let i of types , let n = index">
           <button   
           class="mr-2 btn"     
           [ngClass]="{' btn-success': !i.isActive,
           ' btn-secondary':i.isActive }"
          
            (click)="onColumnOrder($event,i,'cl'+n)">
            {{i.label}}</button>
<!--           
             <input type="button" class="mr-2 btn"  [ngClass]="{' btn-success': !i.isActive,
             ' btn-secondary':i.isActive }" (click)="onColumnOrder($event,i,'cl'+n)" value="{{i.label}}"> -->
    
            </div>
         <br>

    
            <h6>Amount</h6>
            <div class="p-buttonset">
                <p-selectButton id="amount" [options]="account" [(ngModel)]="accont_value" (onOptionClick)="onAmountChange($event)"></p-selectButton>
            </div>
            <br>
    
            <h6>Date Format</h6>
            <div class="p-buttonset">
                <p-selectButton id="date" [options]="date_format_type" [(ngModel)]="date_format_value" (onOptionClick)="onDateChange($event)"></p-selectButton>
            </div>
         <br>
    
          <div>
              <input type="checkbox" > Sticky header 
          </div>
          <hr>
    
          <div class="flex-end">
            <button class=" mr-2 btn btn-info">Reset</button>
            <button class=" mr-2 btn btn-primary">Button</button>
          </div>
    
        </p-overlayPanel>
    <!-- Overlayy Panel End -->
    <p-overlayPanel #mf>
        <p-listbox  
        [options]="groupedFilterData" 
        (onChange) = "onFilter()"
        [group]="true"
        [(ngModel)]="selectedFilterData" 
         [metaKeySelection]="false"
          [checkbox]="true" 
          [filter]="true" [multiple]="true" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <span>{{group.label}}</span>
                </div>
            </ng-template>
        </p-listbox>
        
      <!-- <app-filter></app-filter> -->
    </p-overlayPanel> 
    
    <p-overlayPanel #status>
      <p-listbox #list [options]="listStatus" optionLabel="label" (click)="onListStatus($event.target.innerText)" ></p-listbox>
    </p-overlayPanel>

    <p-overlayPanel #resources [showCloseIcon]="true"  >
        <!-- <div id="resources" *ngFor = "let i of types , let n = index">
            <button id="resourcesBtn" class="mr-2 btn btn-primary"   [style.background-color]="i.isActive ? 'violet' : 'white'">{{i.label}}</button>
        </div> -->
        <div style="height:auto; width: 350px;">
            <div class="box" style="width: fit-content;" >
                <button 
                [ngClass] = "i.isActive ? 'btn btn-info' : 'btn btn-secondary'"
                 style="margin:2px; border-radius: 8px;"
                 (click)="onResourceSelect($event ,i)"
                 *ngFor="let i of reourcesList">
                 {{i.label}}
                </button>

                
              </div>
            <div >
        </div>
        

        <hr>
            </div>
            <div>
                <button class="btn btn-primary"> Apply</button>
            </div>
    </p-overlayPanel>
</div>
<div style="margin-bottom: 10px;margin-top:20px;margin-right: 10px;">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" >
      <button  
      (click)="onStatusFilter($event,i)"
      [ngClass]="isActive && 'active' "
       class="nav-link"
       id="nav-home-tab" 
       data-bs-toggle="tab" 
       data-bs-target="#nav-home"
        type="button"
        role="tab" 
        aria-controls="nav-home"
         aria-selected="true"
        *ngFor = "let i of menus">
        {{i.label}}
           <!-- <span class="badge bg-secondary" (click)="onStatusFilter($event,i)">
               {{i.length}}
            <i class="fa fa-cross-circle-right fa-lg" ></i> -->

           <!-- </span> -->
        </button>


    </div>
  </nav>
  </div>
<p-table #dt [value]="menu ? projects : menu_filter_array " dataKey="id" styleClass="p-datatable-sm" responsiveLayout="scroll"  [reorderableColumns]="true" [filterDelay]="0" [globalFilterFields]="['id','projectName', 'projectManager']">

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th  pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon></th>
            <th class="cl0" pSortableColumn="projectName">Project Name<p-sortIcon field="projectName"></p-sortIcon></th>
            <th class="cl1" pSortableColumn="projectManager">Project Manager<p-sortIcon field="projectManager"></p-sortIcon></th>
            <th class="cl2" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th class="cl3" pSortableColumn="lastUpdate"> Last Update <p-sortIcon field="lastUpdate"></p-sortIcon></th>
            <th class="cl4" pSortableColumn="resources">Resources<p-sortIcon field="resources"></p-sortIcon></th>
            <th class="cl5" pSortableColumn="projectTimeline">Project Timeline<p-sortIcon field="projectTimeline"></p-sortIcon></th>
            <th class="cl6" pSortableColumn="estimation.amount">Estimation<p-sortIcon field="estimation.amount"></p-sortIcon></th>        </tr>
    </ng-template>
    <ng-template id="myTable" pTemplate="body" let-project let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="project" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
                <p-tableCheckbox [value]="project"></p-tableCheckbox>
            </td>
            <td pEditableColumn>
                <p-cellEditor [style]="{'width':'50px'}">
                    <ng-template pTemplate="input" >
                        <input  pInputText type="text" [(ngModel)]="project.id"> 
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{project.id}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="cl0">{{project.projectName}}</td>
            <td class="cl1">{{project.Manager}}</td>
            <!-- <td class="cl1">{{project.projectManager}}</td> -->
            <td class="cl2" (click)="status.toggle($event) ; onStatus(project)" >{{project.status}}
            </td>
           <td class="cl3" >{{project.lastUpdate |date:[date_format_value]}}
           <td class="cl4" style="text-align: center;">
               <div *ngIf = "project.resources; else applyResources" style="text-align: center;">
                   {{project.resources}}
               </div>
               <ng-template #applyResources style="background-color: blue;">
                <i class="pi pi-plus"  (click)="resources.toggle($event)" ></i>
              </ng-template>
            <td class="cl5">{{project.projectTimeLine}}</td>

            <td class="cl6">
           <div *ngIf="amount_boolean; else elseBlock">
              {{project.estimation.currency}} {{project.estimation.amount |number: '2.'}}
            </div>
              <ng-template #elseBlock>
                {{project.estimation.currency}} {{project.estimation.amount | thousandPipe : 2 }}
              </ng-template> 
              </td>
           <!-- <td class="cl6"> {{project.estimation.currency}} {{project.estimation.amount | thousandPipe : 2 }} </td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-project>
     
        <tr>
            <td colspan="7">
                <div class="p-p-3">
                    <!-- <div class="container">
                        <ul class="timeline" *ngFor = "let i of project.traker">
                            <li>
                              <div class="timeline-badge"><i class="bi bi-calendar2-event"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">Event</h4>
                                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                </div>
                                <div class="timeline-body">
                                  {{i.status}}
                                </div>
                              </div>
                            </li>
    
                        </ul>
                      </div> -->
                  
                        <p-timeline [value]="project.traker">
                            <ng-template pTemplate="content" let-event>
                                &#123;&#123;event.status&#125;&#125;
                            </ng-template>
                        </p-timeline>
                    </div>
                
            </td>
        </tr>
    
    </ng-template>
  </p-table>

